#music {
    position:absolute;
   top:0;
   left:0;
}

.wrapper{
    overflow: hidden;
}

.sliding-background {
background: url("old-school-game-pattern-vector-3352696.jpg") repeat-x;
height: 20px;
width: 5076px;
animation: slide 60s linear infinite;
position: absolute;
bottom: 0px;
  }
  
  @keyframes slide{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-1692px, 0, 0);
    }
  }


h1 {
    text-align: center;
    color: white;
    font-family: 'Geostar Fill', cursive;
}

p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Press Start 2P';   
}


body{
background-image: url(marc-schulte-D4ctZEF3Te4-unsplash.jpg);
background-size: cover;
background-attachment: fixed;
}
 
       
.piece {
height: 66px;
width: 66px;
display:block;
border-radius: 50px;
margin-left: auto;
margin-right: auto;
}
        
.player0 {
background-color: #DDDDDD;
 }
        
 .player1 {
 background-color: #FF0000;
}
        
.player2 {
background-color: #0000FF;	
}
        
.board_square {
border: 1px solid #bbb8b8;
height: 70px;
width: 70px;
margin-top: 30px;
}

.buttonArea {
    width: 72px;
}

.button {
    display: block;
    margin: auto;
    width: 50px;
}

#beginBattle {
    color: rgb(255, 255, 255);
    background-color: rgb(64, 62, 88);
    height: 70px;
    width: 150px;
    border: none;
    font-weight: 50px;
    font-size: 15px;
    position: absolute;
    left: 250px;
    bottom: 400px;
}

#game_table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop {
    width: 70px;
}

#gameboard {
    bottom: 50px;
}

#game_info {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.win {
    position: absolute;
}

.lose{
    position: absolute;
}

.click_button {
    height: 42px;
    width: 42px;
    border-radius: 24px;
    background-color: rgba(255, 0, 0, 1);
    cursor: pointer;
}

table {
    margin: 0 auto;
}

